body {
    background-color: rgb(135, 65, 255);
    margin: 0 auto;
    
    width: 70%;
}

.tibedo {
    display: flex;
    color: white;
}

#tibpic {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
    border-radius: 70px;
    margin-top: 20px;
}

.tib {
    width: 700px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-wrap: wrap;

}

.cards {
    
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 20px black;
    margin: 10px 10px;
    background-color: white;
 
}

.img {
    
    background-color: rgb(198, 196, 196);
}

.drawer, .cardname, .language {
    padding: 10px;
}

.editionprice, .rarityyear {
    display: flex;
    
    justify-content: space-around;
}

