body {
    background-color: rgb(135, 65, 255);
    margin: 0 auto;
    
    width: 70%;
}

.tibedo {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: 30px;
   margin-top: 50px;
    
}

#tibpic {
    width: 96px;
    height: 122px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 300px;
}

.tib {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    font-family: fantasy;
    border: 5px solid rgb(120, 30, 255);
    border-left-style: dotted;
    border-right-style: none;
    border-top-style:none;
    border-bottom-style: none; 
    padding-left: 25px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 5px black;
    margin: 30px 30px;
    background-color: rgb(0, 0, 0);
}



.cardname {
    font-family: monospace;
    margin: 0 auto;
    background-color: black;
    width: 235px;
    color: white;
    text-align: center;
}
img {
    width: 254px;
    height: 360px;
}
.img {
    
    background-color: rgb(198, 196, 196);
}

.drawer, .cardname, .language {
    padding: 10px;
}

.editionprice, .rarityyear {
    display: flex;
    
    justify-content: space-around;
}

.rarity {
    font-family: monospace;
    color: gold;
    border: 2px solid gold;
    
}

.year {
    font-family: monospace;
    color: rgb(255, 0, 0);
    border: 2px solid red;
}

.price {
    font-family: monospace;
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    width: 40%;
    height: 35%;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(80, 80, 80);
    font-size: large;
}

.edition{
    font-family: monospace;
    color: rgb(217, 0, 255);
    border: 2px solid rgb(171, 0, 201);
}

.drawer {
    font-family: fantasy;
    color: white;
    font-size: large;
    text-align: center;
}

.language {
    margin: 0 auto;
    font-family: monospace;
    color: rgb(103, 103, 255);
    font-size: x-large;
}

.rarity, .year {
    background-color: rgb(80, 80, 80);
    width: 40%;
    height: 40%;
    text-align: center;
    border-radius: 10px;
}

.edition {
    background-color: rgb(0, 0, 0);
    width: 40%;
    height: 60%;
    text-align: center;
    border-radius: 10px;
}


.cardname:hover {
    color: #ffee10; 
    text-shadow: 0 0 5px #ffee10;
}

.rarity:hover {
    color: #ffee10; 
    text-shadow: 0 0 5px #ffee10;
    cursor: pointer;
}
.year:hover {
    color: #ff4242; 
    text-shadow: 0 0 5px #ff4b4b;
    cursor: pointer;
}
.edition:hover {
    color: #f200ff; 
    text-shadow: 0 0 5px #ff00ee;
    cursor: pointer;
}
.price:hover {
    color: #00ff1e; 
    text-shadow: 0 0 5px #00ff00;
    cursor: pointer;
}
.language:hover {
    color: #0048ff; 
    text-shadow: 0 0 5px #004cff;
    cursor: pointer;
}
img:hover {
    color: #ffffff; 
    box-shadow: 0 0 10px #ffffff;
    cursor: pointer;
    width: 255px;
    height: 361px;
}

